<div class="flex w-full py-[25%] items-center justify-center">
  <%= render(TypographyComponent.new(variant: :h2)) do %>
    You don't have created any short links yet, please come back later!
  <% end %>
</div>
