<%= turbo_stream_from "analytic/#{@short_link.short_code}" %>
<div id="analytics">
  <%= render AnalyticsComponent.new(
    short_link: @short_link,
    total_clicks: @short_link.clicks.count,
    time_data: { daily: @clicks_by_day, weekly: @clicks_by_week, monthly: @clicks_by_month },
    geo_data: { country: @clicks_by_country, region: @clicks_by_region, city: @clicks_by_city },
    referrer_data: @clicks_by_referrer
  ) %>
</div>