<li class="py-2">
  <div class="grid grid-cols-2 gap-4 items-center">
    <p class="text-sm font-mono text-gray-900"><%= @date %></p>
    <p class="text-sm font-mono text-gray-500 text-right"><%= @count %></p>
  </div>
</li>