<div class="p-6 border-slate-200 border w-full flex gap-3 rounded-md flex-col">
  <%= render(SubtitleComponent.new(text: "Your Generated Links")) %>
  <div class="flex gap-1 flex-col">

    <p class="color-slate-950 text-sm">Shortened URL</p>
    <div class="border-slate-200 border rounded-md px-3 py-2 pb-8 pr-10 w-full">
      <%= @link %>
    </div>
  </div>
</div>
