<%= render Card::StatsComponent.new do %>
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Geography</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <%= render Stats::TimePeriodListComponent.new(
      title: "Country",
      period_label: "Country",
      data: country
    ) %>
    <%= render Stats::TimePeriodListComponent.new(
      title: "Regions",
      period_label: "Region",
      data: region
    ) %>
    <%= render Stats::TimePeriodListComponent.new(
      title: "Cities",
      period_label: "City",
      data: city
    ) %>
  </div>
<% end %>